/* Responsividade para tablets (max-width: 768px) */
@media (max-width: 768px) {

    .flip-card {
        flex-basis: calc(50% - 40px); /* Duas cartas por linha em tablets */
        max-width: 100%; /* Garante que a carta não exceda a largura da coluna */
        height: 360px; /* Altura ajustada para tablets */
    }
}

/* Responsividade para smartphones (max-width: 480px) */
@media (max-width: 480px) {

    .flip-card {
        flex-basis: 100%; /* Uma carta por linha em smartphones */
        max-width: 100%; /* Garante que a carta ocupe toda a largura disponível */
        height: 340px; /* Altura ajustada para smartphones */
    }
}

/* Responsividade para telas grandes (largura acima de 1200px) */
@media (min-width: 1200px) {

    .flip-card {
        flex-basis: calc(25% - 40px); /* Quatro cartas por linha */
        max-width: 300px; /* Largura máxima */
        height: 450px; /* Altura ajustada para cartas em telas grandes */
    }
}
